<div class="container">
  <div class="main">
    <h2>
      Обо мне
    </h2>
    <p>
      Ві́льям Ге́нрі Гейтс III (англ. William Henry "Bill" Gates III ; * 28 жовтня 1955, Сіетл, США) — американський бізнесмен,
      інвестор, автор, філантроп і засновник корпорації Майкрософт, співголова Фонду Білла і Мелінди Гейтс.[5][6] Протягом кар'єри в
      Microsoft, Гейтс займав позиції голови ради директорів, CEO та головного архітектора[en], одночасно до травня 2014 також будучи
      найбільшим акціонером. Microsoft був створений Гейтсом і Полом Алленом в 1975, і став найбільшою компанією з розробки програмного
      забезпечення для ПК.[7][a] Гейтс керував компанією як головний виконавчий директор, поки не облишив цю посаду в січні 2000 року,
      залишаючись головою ради директорів і створивши для себе посаду головного архітектора.[10] У червні 2006, Гейтс оголосив, що він
      переходитиме з повної на часткову зайнятість в Microsoft, і працюватиме повний робочий день у Фонді Білла і Мелінди Гейтс, заснованому
      в 2000.[11] Поступово він передав свої обов'язки Рею Оззі[en] та Крейгу Манді[en].[12] Він покинув посаду голови Microsoft в лютому
      2014 і прийняв позицію технологічного радника, аби підтримати новообраного виконавчого директора Сатья Наделла.[13] Гейтс є одним
      з найвідоміших підприємців революції персонального комп'ютера. Його критикували за його бізнес-практики[en], які вважаються
      антиконкурентними[en]. Ця думка була підтримана численними судовими рішеннями.[14] Пізніше в своїй кар'єрі, Гейтс зайнявся філантропією.
      Через фонд Фонд Білла і Мелінди Гейтс він пожертвував багато коштів на різноманітні благодійні організації та наукові дослідницькі
      програми. З 1987 року, Гейтса включають в список найбагатших людей світу від журналу Forbes , список людей багатство яких задокументовано,
      і точно визначено.[15][16] Всі роки, окрім чотирьох з 1995 до 2017, він був найбагатшою людиною в світі за версією Forbes, і
      займав найвище місце постійно від березня 2014 до липня 2017, з багатством оціненим в 89.9 мільярдів доларів США станом на жовтень
      2017.[17] Щоправда, в 27 липня 2017, і з 27 жовтня 2017, його обійшов засновник і генеральний директор компанії Amazon Джеф Безос,
      чиї статки на той час оцінювались в $90,6 мільярдів доларів.[18] В 2009 році, Гейтс і Воррен Баффетт створили кампанію "Клятва дарування",
      в якій вони та інші мільярдери обіцяють витратити щонайменше половину свого багатства на філантропію.[19] Кампанія працює задля збереження
      життів і покращення глобального рівня здоров'я, а також співпрацює з Rotary International з метою знищення поліомієліту.[20] Станом на 10
      березня 2018, Гейтсове багатство оцінюється в 92,2 мільярда доларів, що робить його другою за багатством людиною на світі, після Безоса.
    </p>
  </div>

</div>
