<div class="container">
  <h2>
    Обо мне
  </h2>
  <p>
    О книгах уютных, умных и сильных. Классика и современная, зарубежная и отечественная ✨ <br>
    Выборка с любовью и любопытством📚 <br>
    Вам понравится❤️💚 <br>
  </p>
  <h2 class="events">
    Последнии мероприятия автора
  </h2>
  <div class="flex-container" id="flex-higher">
    <div class="flex-item">
      <p>Фестиваль книжный бум</p>
    </div>
    <div class="flex-item">
      <p>Встреча с писателями</p>
    </div>
    <div class="flex-item">
      <p>Life lessons</p>
    </div>
  </div>
  <div class="flex-container" id="flex-lower">
    <div class="flex-item">
      <p>Book sale</p>
    </div>
    <div class="flex-item">
      <p>Презентация книги</p>
    </div>
    <div class="flex-item">
      <p>Bookfest spring 2019</p>
    </div>
  </div>
</div>

