<article>
  <div class="container">
    <h2>Контакты</h2>
    <h3>Редакция книжного блога</h3>
    <p>Адрес: 21018, Украина, Винницкая область, Винница, пл. Гагарина 2, Винницкий Универмаг 5 этаж </p>
    <p>Телефоны: <br>
      +380 95 537-30-31 <br>
      +380 98 994-17-22</p>
    <p>e-mail: sk8ergirl1007@gmail.com</p>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.283390134843!2d28.45380081556923!3d49.23311607932604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5c820ea67bef%3A0x72886d83fd9dbd7a!2z0L_Quy4g0JPQsNCz0LDRgNC40L3QsCwgMiwg0JLQuNC90L3QuNGG0LAsINCS0LjQvdC90LjRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMjEwMDA!5e0!3m2!1sru!2sua!4v1558987211471!5m2!1sru!2sua"
            height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</article>

