li{
  display: inline;
}
a, a:visited{
  color: #323C4D;
}
.breadcrumb{
  padding: 110px 0 30px 0;
}
.breadcrumb img{
  height: 15px;
  padding-right: 3px;
}
@media screen and (max-width: 921px) {
  .breadcrumb{
    padding-top: 190px;
  }
}
