<header class="header">
  <div class="container">
    <h1 routerLink="/blog">Книжный блог</h1>
    <nav class = flex-item>
      <ul class="menu" id="mainMenu">
        <li><a routerLink="/blog">Главная</a><span>|</span></li>
        <li>
          <a>Об авторах</a><span>|</span>
          <ul class="dropdown">
            <li ><a routerLink="/about" >Julia Khalina</a></li>
            <li><a routerLink="/about1">Grygoriy Shvydkyi</a></li>
          </ul>
        </li>
        <li><a routerLink="/contacts">Контакты</a></li>
      </ul>
    </nav>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      <!--
      Some spans to act as a hamburger.

      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a routerLink="/blog" title="Home">Главная</a></li>
        <li><a routerLink="/about" title="Home">Julia Khalina</a></li>
        <li><a routerLink="/about1" title="Home">Grygoriy Shvydkyi</a></li>
        <li><a routerLink="/contacts" title="Home">Контакты</a></li>
      </ul>
    </div>
    <span class="spacer"></span>
    <div class="flex-item">
      <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
        <button class="wr-post-btn" color="accent" routerLink="/dashboard">Write a Post</button>
        <span>Hello {{user.displayName}}!</span>
        <button class="btn" (click)="auth.logout()">Logout</button>
      </div>
      <ng-template #showLogin>
        <button class="btn btn_login" (click)="auth.login()">Login with Google</button>
      </ng-template>
    </div>
  </div>
</header>
