/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*.mat-toolbar{*/
/*  background: #ffd54f;*/
/*}*/
/*header{*/
/*  background: #323C4D;*/
/*  color: white;*/
/*}*/
.header{
  position: fixed;
  /*top: 0;*/
  width: 100%;
  z-index: 2;
  background: #323C4D;
  color: white;
}
.container{
  display: flex;
  /*flex-direction: row;*/
  flex-flow: row wrap;
  align-items: center;
  /*flex-wrap: wrap;*/
}
.flex-item, h1{
  margin: 20px 0;
}
h1{
  font-family: 'Indie Flower', cursive;
}
.spacer{
  flex: 1 1 auto;
}
.menu{
  /*margin-top: 25px;*/
  margin-left: 50px;
}
.menu>li{
  float: left;
  padding-right: 15px;
  position: relative;
}
.menu a {
  color: inherit;
}
.menu span{
  padding-left: 20px;
}
.wr-post-btn{
  margin-right: 30px;
}
.btn{
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  margin-left: 30px;
}
.btn:hover{
  background: rgba(0, 0,0, 0.2);
}


.menu .dropdown {
  display: none;
  /*left: 99px;*/
  position: absolute;
  /*top: 25px;*/
  padding-top: 25px;
  left: -20px;
  z-index: 99;
  min-width: 160px;
}
.menu .dropdown li{
  /*border: 1px solid #000;*/
  border-bottom: 2px solid #fff;
  padding: 15px;
  background: #323C4D;
}
.menu li:hover .dropdown {
  display: block;
}
.search{
  /*position: absolute;*/
  z-index: 99;
  background-color: #000;
}
/**********menuToggle******************/
#menuToggle {
  display: none;
  position: absolute;
  top: 25px;
  right: 40px;
  z-index: 99;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -230px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
/**********End menuToggle******************/

@media (min-width: 562px){
  #menuToggle{
    display: none;
  }
}
@media (max-width: 562px){
  #menuToggle{
    display: block;
  }
  #mainMenu{
    display: none;
  }
  h1{
    width: 100%;
  }
  .btn_login{
    margin: 0;
  }
  .spacer{
    flex: 0 0 0;
  }
}
@media (max-width: 290px){
  h1{
    display: none;
  }
}
