<header>
  <div class="container">
    <h1 routerLink="/blog">Книжный блог</h1>
    <nav class = flex-item>
      <ul class="menu">
        <li><a routerLink="/blog">Главная</a><span>|</span></li>
        <li>
          <a>Об авторах</a><span>|</span>
          <ul class="dropdown">
            <li><a routerLink="/about">Julia Khalina</a></li>
            <li><a routerLink="/about">Grygoriy Shvydkyi</a></li>
          </ul>
        </li>
        <li><a routerLink="/contacts">Контакты</a></li>
      </ul>
    </nav>

    <span class="spacer"></span>
    <div class="flex-item">
      <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
        <button class="wr-post-btn" color="accent" routerLink="/dashboard">Write a Post</button>
        <span>Hello {{user.displayName}}!</span>
        <button class="btn" (click)="auth.logout()">Logout</button>
      </div>
      <ng-template #showLogin>
        <button class="btn" (click)="auth.login()">Login with Google</button>
      </ng-template>
    </div>
  </div>
</header>
