<section>
  <div class="container">
    <div class="flex-container">
      <div class="search flex-item">
        <form autocomplete="off">
          <div class="autocomplete">
            <input type="text" #searchInput (keyup)="search(searchInput.value)" placeholder="search..." class="input">
            <div *ngIf="searchInput.value">
              <div class="autocomplete-items" >
                <div *ngFor="let post of arrCopy" (click)="searchInput.value = post.title">{{post?.title}}</div>
              </div>
              <div class="autocomplete-items" *ngIf="(arrCopy)?.length < 1">
                <div>No results found :(</div>
              </div>
            </div>
          </div>
          <input type="button" value="Submit" (click)="submit(searchInput.value); searchInput.value = ''">
        </form>
      </div>
<!--      <span class="spacer"></span>-->
      <div class="filter flex-item">
        <!--      <span>Filter by:</span>-->
        <div class="select-group">
          <select #selectElem>
            <option  value="Классика">Классика</option>
            <option  value="Современная классика">Современная классика</option>
            <option  value="Фантастика">Фантастика</option>
            <option  value="Современная проза">Современная проза</option>
          </select>
          <button (click)="filtrarData(selectElem.value)" class="int_btn">Применить</button>
        </div>
        <button (click)="allPosts()"
                class="int_btn">Все посты</button>
      </div>
      <div class="sort flex-item">
        <span class="sort-label">Отсортировать по:</span>
        <button (click)="alphabetSort()" class="transp_btn">По алфавиту</button>
        <button (click)="dateSort()" class="transp_btn">По дате</button>
      </div>
    </div>
  </div>
</section>
