.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  /*flex-direction: row;*/
  flex-flow: row wrap;
  align-items: center;
  /*flex-wrap: wrap;*/
}
section{
  background: #323C4D;
  color: white;
}
