<app-slider></app-slider>
<app-search></app-search>
<section>
  <div class = "card" *ngFor="let post of this.postService.posts | async | paginate: config">
    <div class="content" routerLink="{{post.id}}">
      <img src="{{post.image}}" alt="{{post.title}}">
      <h2>{{post.title}}</h2>
      <p>{{post.genre}}</p>
      <p><small>Published by {{post.author}} &bull; on {{post.published.toDate() | date: 'fullDate'}}</small></p>
    </div>
    <div *ngIf="auth.currentUserId === post.authorId">
      <button class="op_btn" (click)="delete(post.id)" >
<!--        <mat-icon>delete</mat-icon>-->
        <img class ="trash" src="assets/trash.png" alt="">
      </button>
    </div>
  </div>
</section>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
