img{
  max-width: 300px;
  max-height: 300px;
}
section{
  /*display: grid;*/
  /*!*display: -ms-grid;*!*/
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  /*grid-auto-rows: auto;*/
  /*grid-gap: 10px;*/
  /*margin: 0 auto;*/
  /*max-width: 95%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content{
  flex-grow: 1;
  max-width: 300px;
}
.trash{
  max-width: 23px;
  max-height: 23px;
}
app-breadcrumb{
  display: none;
}
/*img{*/
/*  width: 100%;*/
/*}*/
pagination-controls{
  text-align: center;
}
