<footer>
  <div class="container">
    <div class="flex-container">
      <div class="flex-item">
        <h3>
          Название компании
        </h3>
        <hr>
        <p>Книжный блог</p>
      </div>
      <div class="flex-item">
        <h3>
          Адрес
        </h3>
        <hr>
        <p>21018, Украина, Винницкая <br>
          область, Винница, пл. Гагарина 2, <br>
          Винницкий Универмаг 5 этаж </p>
      </div>
      <div class="flex-item">
        <h3>
          Контакты
        </h3>
        <hr>
        <p>+380 95 537-30-31 <br>
          +380 98 994-17-22</p>
      </div>
    </div>
    <hr>
    <p class="end_wrt">© Книжный блог 2019</p>
  </div>
</footer>
